.btn {
  border: none;
  background-image: linear-gradient(to bottom right, #E0ECF5, #446FC1);
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.less {
  display: none;
  top: 0;
  left: 0;
}

.more {
  display: none;
  top: 0;
  right: 0;
}

.exact {
  display: none;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.show {
  display: inline-block;
  position: absolute;
}

.hide {
  display: none;
}

.main-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #71ADD0;
  border: 5px solid #446FC1;
  position: relative;
}

/* .tryNumber {
  font-size: 50px;
  width: 150px;
  height: 150px;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  z-index: 1000;
} */
