html,
body {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 1.2;
}

.container {
  height: 100vh;
  background: url(bg.jpg) bottom center no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 1px;
  position: relative;
}

.screen1 {
  width: 70%;
  padding: 40px;
  margin: 200px auto 0;
  background-color: rgba(121, 239, 237, 0.4);
  border-radius: 10px;
}

.btn {
  display: block;
  border: none;
  background: linear-gradient(to bottom right, #1e3c72, #2a5298);
  color: azure;
  width: 200px;
  padding: 30px;
  border-radius: 10px;
  font-size: inherit;
  box-shadow: 0 0 10px black;
  margin-bottom: 20px;
}

.btn:last-of-type:not(.btn__start) {
  margin-bottom: 0;
}


.btn__start {
  margin: 40px auto 30px;

}

.screen2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(#ffd89b, #19547b);
  position: relative;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #19547b;

}

.tryNumber {
  color: #170c71;
  font-size: 100px;
  font-weight: 700;
}

.answer {
  width: 300px;
  padding: 40px;
  background-color: rgba(121, 239, 237, 0.4);
  color: azure;
  margin-right: 50px;
  border-radius: 10px;
  font-size: 42px;
}



/*
.btn__less,
.btn__more {
  display: none;
  top: 0;  

}

.btn__less {
  left: 0;
  

}

.btn__more {
  right: 0;


}





.btn__exact {
  display: none;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
*/

.show {
  display: inline-block;
  position: absolute;
}

.hide {
  display: none;
}

/*
.main-field {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.counter {
  
}

.text {
  position: absolute;
  top: 2%;
  left: 0;
}

.answer {
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
}

*/
