html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Marck Script', cursive;
}

body {  
  font-size: 36px;
  line-height: 1.2;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  height: 100vh;
  background: url(bg.jpg) bottom center no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen1 {
  width: 50%;
  padding: 40px;
}

.btn {
  display: block;
  border: none;
  background: linear-gradient(to bottom right, rgba(30, 60, 114, .8), rgb(42, 82, 152, .8));
  color: azure;
  width: 150px;
  height: 150px;
  padding: 30px;
  border-radius: 50%;
  font-size: inherit;
  box-shadow: 0 0 10px black;
  margin-bottom: 20px;
  font-size: 32px;
/*  font-family: 'Pacifico', cursive;*/
  font-family: 'Marck Script', cursive;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(to bottom right, rgba(49, 77, 129, .8), rgba(64, 102, 170, .8));
}

.btn:focus {
  outline: none;
}

.btn__less {
  margin-left: -60px;
}

.btn__exact {
  margin-bottom: 0;
  margin-left: -60px;
}

.btn__start {
  width: 300px;
  margin: 40px auto 30px;
}

.btn__again {
  display: none;
}

.screen2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  width: 300px;
  padding: 30px;
  margin-right: 50px;
  border-radius: 10px;
  color: azure;  
  font-size: 60px;
  text-align: center;
}

.circle {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(rgba(234, 226, 213, 0.8), rgba(12, 68, 105, 0.8));  
  box-shadow: 0 0 10px #19547b;
}

.tryNumber {
  color: #170c71;
  font-size: 100px;
  font-weight: 700;
  
}

.hide {
  display: none;
}

@media (max-width: 1024px) {
  .screen1 {
    width: 70%;
    padding: 30px;
  }
  
  .screen2 {
    flex-wrap: wrap;
    align-content: center;
  }
  
  .answer {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }  
}

@media (max-width: 600px) {  
  .body {
    font-size: 22px;
  }
  
  .screen1 {
    width: 100%;
    font-size: 26px;
  }
  
  .screen2 {
    flex-direction: column;
  }
  
  .answer {
    margin-bottom: 50px;
    font-size: 44px;
  }
  
  .buttons {
    display: flex;
  }
  
  .btn {
    width: 100px;
    height: 100px;
    padding: 20px;
    font-size: 24px;
  }
  
  .circle {
    width: 230px;
    height: 230px;
    margin: 0 auto;
  }
  
  .btn__start {
    width: 150px;
    height: 150px;
    font-size: 28px;
  }
  
  .btn__less {
    margin-left: 0;
    margin-right: 5px;
    margin-top: -20px;
  }
  
  .btn__more {
    margin-right: 5px;
    margin-top: 20px;
  }

  .btn__exact {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -20px;
  }
}
